.form-control{
    box-shadow: inset 0 0 15px lightblue;
    border-radius: 5px;
    background-color: lightyellow;
}

.emailField{
    text-align: center;
    padding-left: 50px;
}

tr.table_row{
    padding: 30px;
    color: red;
}
